header a {
	text-decoration: none;
}

h1 {
	font-family: 'Poiret One';
	margin-top: 3em;
	color: #707070;
	text-align: center;
	letter-spacing: .25em;
}

nav {
	margin-top: 4em;
	font-family: 'Poiret One';
	color: #707070;
	text-align: center;
}

.float {
	position: fixed;
	top: 0;
	left: 0;
}

nav a {
	text-decoration: none;
	color: #707070;
}

nav a:visited{
	color: #707070;
}

nav a:hover{
	color: #000000;
}

.background1 {
	background-image: url("pictures/back1.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.background2 {
	background-image: url("pictures/back2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}

.background3 {
	background-image: url("pictures/back3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}

.left {
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin: 1em;
	margin-top: 7em;
}

p {
	text-align: center;
	display: block;
	margin: auto;
	width: 90%;
	max-width: 400px;
	color: #707070;
	margin-bottom: 2em;
}

.circle {
	display: block;
	margin: auto;
	size: auto;
	width: 100%;
	max-width: 300px;
	margin-top: 10em;
}



@media only screen and (max-width: 320px) {
	
	h1 {
		font-size: 1em;
	}
	
	.left {
		writing-mode: horizontal-tb;
		margin: 1em;
		margin-top: 7em;
	}
	
	.float {
		text-align: center;
		position: relative;
	
	
}